<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WOOD DESTROYING INSECT REPORT</title>
    <style>
        :root {
            --margin: 90%;
            --margin-top: 40px;
            --brand-color: #ffc905;
        }

        @import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Mulish:wght@400;700&display=swap");

        /* Box sizing rules */
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        /* Remove default margin and set font*/
        body,
        h1,
        h2,
        h3,
        h4,
        p,
        figure,
        blockquote,
        dl,
        dd {
            margin: 0;
        }

        /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
        ul[role="list"],
        ol[role="list"] {
            list-style: none;
        }

        /* Set core root defaults */
        html:focus-within {
            scroll-behavior: smooth;
        }

        /* Set core body defaults */

        body {
            min-height: 100vh;
            text-rendering: optimizeSpeed;
            line-height: 1.5;
            font-family: "Mulish", sans-serif;
            font-size: 8px;
            margin: 0 40px;
        }

        /* A elements that don't have a class get default styles */
        a:not([class]) {
            text-decoration-skip-ink: auto;
        }

        /* Make images easier to work with */
        img,
        picture {
            max-width: 100%;
            display: block;
        }

        /* Inherit fonts for inputs and buttons */
        input,
        button,
        textarea,
        select {
            font: inherit;
        }

        /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
        @media (prefers-reduced-motion: reduce) {
            html:focus-within {
                scroll-behavior: auto;
            }

            *,
            *::before,
            *::after {
                animation-duration: 0.01ms !important;
                animation-iteration-count: 1 !important;
                transition-duration: 0.01ms !important;
                scroll-behavior: auto !important;
            }
        }

        @page {
            /* size: A4; */
            margin: 0;
            margin-bottom: 10mm;
        }

        @media print {
            thead {
                display: table-header-group;
            }

            tfoot {
                display: table-footer-group;
            }

        }

        header {
            position: fixed;
            top: var(--margin-top);
            display: flex;
            align-items: center;
            align-content: center;
            width: calc(100% - 80px);
            justify-content: space-between;
            justify-items: center;
            height: 50px;
            background: hsl(60, 5%, 8%);
            padding: 3em;
        }

        .header-spacer {
            /* height: calc(72px + 1em); */
            height: calc(50px + var(--margin-top));
        }

        h1 {
            font-size: 20px;
            font-family: "Aldrich", sans-serif;
            color: #fff;
            width: 100%;
            text-transform: uppercase;
            display: flex;
        }

        h1 span {
            display: inline-block;
            padding: 0 6px;
            font-size: inherit;
            margin-right: 5px;
            width: auto;
            text-align: center;
            color: var(--brand-color);
        }

        table {
            border-spacing: unset;
            margin-bottom: 5px;
        }

        table.bordered {
            border: 1px solid;
            border-spacing: 0;
        }

        table.bordered tr td {
            padding: 0 0px 6px 6px;
        }

        table.bordered tr:not(:last-child) td {
            border-bottom: 1px solid;
            border-spacing: 0;
        }

        table.bordered td:not(:last-child) {
            border-right: 1px solid;
            border-spacing: 0;
        }

        ol {
            padding: 0;
        }

        ol.bold li {
            margin: 1em 0;
            margin-left: 1.5em;
        }

        ol.bold li ol {
            padding-left: 1em;
        }

        ol.bold li ol li {
            margin: 0;
            padding: 0.1em 0;
        }

        p {
            font-size: 8px;
        }

        a {
            text-decoration: none;
            color: hsla(180, 6%, 6%, 80%);
        }

        .page {
            page-break-after: always;
            margin-top: 5px;

        }

        label {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        td span {
            display: flex;
        }
    </style>
</head>

<header>
    <h1>wood destroying <span>insect Report</span></h1>
    <div class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" width="112.167" height="29" viewBox="0 0 112.167 29">
            <g id="Group_5" data-name="Group 5" transform="translate(-463.712 -33.706)">
                <path id="Path_8" data-name="Path 8"
                    d="M572.123,35.585a1.878,1.878,0,0,1,3.5-.957,1.89,1.89,0,0,1,.009,1.9,1.877,1.877,0,0,1-.682.683,1.881,1.881,0,0,1-2.579-.7,1.862,1.862,0,0,1-.244-.927m.41,0a1.469,1.469,0,1,0,2.745-.732A1.468,1.468,0,0,0,574,34.116a1.465,1.465,0,0,0-1.47,1.469m2.369-.467a.745.745,0,0,1-.082.366.584.584,0,0,1-.27.238l.484.908h-.724l-.365-.8h-.087v.8h-.7V34.443h.727q1.017,0,1.017.675m-1.044.272h.027a.42.42,0,0,0,.229-.054.209.209,0,0,0,.083-.191.192.192,0,0,0-.068-.166.437.437,0,0,0-.239-.049h-.032Z"
                    fill="#fff" />
                <path id="Path_9" data-name="Path 9"
                    d="M558.163,49.224l12.083-13.409h-9.464L551.6,46V35.784h-7.011V62.706H551.6V52.489l9.168,10.186h9.488Z"
                    fill="#fff" />
                <path id="Path_10" data-name="Path 10"
                    d="M480.285,45.382h-9.6V35.77h-6.975V62.706h6.975V52.355h9.6V62.706h6.975V35.77h-6.975Z"
                    fill="#fff" />
                <path id="Path_11" data-name="Path 11"
                    d="M509.951,38.516a8.974,8.974,0,0,0-3.162-2.026,11.121,11.121,0,0,0-4-.692H489.136V62.706h13.653a11.142,11.142,0,0,0,4-.692,8.776,8.776,0,0,0,5.191-5.2,11.169,11.169,0,0,0,.691-3.988V45.679a11.148,11.148,0,0,0-.692-3.989,8.974,8.974,0,0,0-2.028-3.174M496.17,42.823h6.423a4,4,0,0,1,1.39.22,2.377,2.377,0,0,1,.888.566,2.456,2.456,0,0,1,.55.914,4.307,4.307,0,0,1,.215,1.43v6.588a3.254,3.254,0,0,1-.743,2.366,3.048,3.048,0,0,1-2.3.764H496.17Z"
                    fill="#fff" />
                <path id="Path_12" data-name="Path 12"
                    d="M523.337,35.7l8.8,9.722V62.706h-7.035V48.14l-1.769-1.955-1.765,1.953V62.706h-7.035V45.43Z"
                    fill="#ffca06" />
                <path id="Path_13" data-name="Path 13" d="M529.84,38.989l5.836,6.427V62.706h7.035v-20L534.6,33.73Z"
                    fill="#ffca06" />
                <path id="Path_14" data-name="Path 14" d="M542.711,38.834v-5.1h-4.646Z" fill="#ffca06" />
            </g>
        </svg>

    </div>
</header>
<table>
    {{!-- <thead>
        <tr>
            <td>
                <div class="header-spacer"></div>
            </td>
        </tr>
    </thead> --}}
    <tbody>
        <tr>
            <td>
                <section class="page">
                    <div class="header-spacer"></div>
                    <strong>
                        THE REPORT IS MADE IN ACCORDANCE WITH AND SUBJECT TO THE CONDITIONS ON REVERSE SIDE OF THIS PAGE
                    </strong>
                    <p>
                        For and in consideration of the Price and Sum of $<u>{{cost}}</u> and State Fee $<u>{{tax}}</u>
                        for a Total of $<u>{{add cost tax}}</u>
                    </p>
                    <p> A qualified inspector employed by this company has carefully inspected all accessible areas of
                        the structure(s)
                        on the property located at the address
                        below for termites and other wood destroying insects. This report specifically excludes hidden
                        and/or
                        inaccessible areas of damage and the pest control
                        company assumes no legal responsibility for repairs to such damaged areas.
                    </p>
                    <p><strong>WARNING:</strong> The inspection described herein has been made on the basis of visible
                        evidence in
                        readily accessible
                        areas and this report is submitted
                        without warranty, guarantee or representation as to concealed evidence of infestation or damage
                        or as to future
                        infestation. If there is any evidence of
                        wood destroying insects in the structure(s) inspected, it must be assumed that there is some
                        damage.
                        <strong><u>THIS IS NOT A TERMITE-FREE CERTIFICATE.</u></strong>
                    </p>
                    <table style="margin-top: 1em;" class="bordered">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>WOOD DESTROYING INSECT INFORMATION EXISTING CONSTRUCTION </strong>
                                </td>
                                <td>
                                    <p> 1. HUD/FHNVA CASE NUMBER</p>
                                    <strong>{{wdir.caseNumber}}</strong>

                                </td>
                                <td>
                                    <p>2. DATE OF INSPECTION</p>

                                    <strong>{{wdir.date}}</strong>


                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    PRIVACY ACT INFORMATION - The information requested on this form will be used in
                                    evaluating the
                                    property for a VA or HUD insured loan and all
                                    other real estate sales. Although you are not required by law to provide this
                                    information, failure
                                    to provide it can result in rejection of the property as
                                    security for your loan. The information collected will not be disclosed outside VA
                                    or HUD except as
                                    permitted by law. VA and HUD are authorized to
                                    request this information by statute (38 U.S.C., 1804(a) and 12 U.S.C. 1701 et. seq.)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <p>3A. NAME OF INSPECTION COMPANY</p>
                                    <strong>HDMK PEST Control</strong>
                                </td>
                                <td>
                                    <p>3C. TELEPHONE NUMBER</p>
                                    <strong>1-888-401-HDMK (4365)</strong>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <p>3B. ADDRESS OF INSPECTION COMPANY</p>
                                    <strong>15171 S. Harrells Ferry Rd, Baton Rouge, LA 70816</strong>
                                </td>
                                <td>
                                    <p>4. PEST CONTROL OPERATOR LICENSE NUMBER</p>
                                    <strong>99734</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>5A. NAME OF PROPERTY OWNER/SELLER</p>
                                    <strong>{{inspection.client.name}}</strong>
                                </td>
                                <td>
                                    <p>5B. ADDRESS OF PROPERTY INSPECTED</p>
                                    {{#with inspection}}
                                    <strong>
                                        {{address.street}}, {{address.city}}, {{address.state}} {{address.zip}}
                                    </strong>
                                    {{/with}}
                                </td>
                                <td>
                                    <p>5C. STRUCTURE(S) INSPECTED ON PROPERTY</p>

                                    <strong>{{wdir.structuresInspected}}</strong>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    5D. Only structure(s) listed in 5(C) were inspected and are included in this report.
                                    Detached garages, sheds, lean-tos, fences or other buildings on the
                                    property will not be included in this inspection report unless specifically noted.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 style="margin: 1em 0;">FINDINGS</h3>
                    <table class="bordered">
                        <tbody>
                            <tr>
                                <td>
                                    <p>6. WERE ANY AREAS OF THE STRUCTURE(S) OBSTRUCTED OR INACCESSIBLE?</p>
                                    <div style="display: flex; align-items: center;">

                                        <label for="yes">
                                            <input id="yes" name="obstructed" value="YES" type="checkbox" checked />
                                            <span>YES</span>
                                        </label>
                                        <label for="no">
                                            <input id="no" name="obstructed" value="NO" type="checkbox" />
                                            <span>NO (If "Yes" see section IV on the reverse side)</span>
                                        </label>
                                    </div>

                                </td>
                                <td>
                                    <p>7. TYPE OF CONSTRUCTION</p>
                                    <div style="display: flex; align-items: center;">
                                        <label>{{checkbox wdir.slabConstruction}} <span>Slab</span></label>
                                        <label>{{checkbox wdir.raisedPierConstruction}} <span>Raised Pier</span></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <p>
                                        8. BASED ON CAREFUL VISUAL INSPECTION OF THE READILY ACCESSIBLE AREAS OF THE
                                        STRUCTURE(S) ON THE DATE INSPECTED
                                    </p>
                                    <div>
                                        {{#if (eq wdir.carefulVisualInspection "a")}}
                                        <label>
                                            <input type="checkbox" checked />
                                            <span>A. No visible evidence of wood destroying insects was observed.</span>
                                        </label>
                                        <label>
                                            <input type="checkbox" />
                                            <span>B. Visible evidence of wood destroying insects was observed. Evidence
                                                found and has been observed in the following area(s)
                                                ___________________________</span>
                                        </label>
                                        <label>
                                            <input type="checkbox" />
                                            <span>C. Visible evidence of damage due to ___________________________ has
                                                been observed in the following area(s)
                                                ___________________________</span>
                                        </label>
                                        <label>

                                            <div style="display: flex; align-items: center;">
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>D. Treatment was or will be performed by inspection
                                                        company</span>
                                                </label>
                                                <div style="display: flex; align-items: center;">
                                                    <label>
                                                        <input type="checkbox" />
                                                        <span>NO</span>
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" />
                                                        <span>YES If yes. explain ___________________________</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </label>

                                        {{else}}
                                        {{#if (eq wdir.carefulVisualInspection "b")}}
                                        <label>
                                            <input type="checkbox" />
                                            <span>A. No visible evidence of wood destroying insects was observed.</span>
                                        </label>
                                        <label>
                                            <input type="checkbox" checked />
                                            <p>
                                                B. Visible evidence of wood destroying insects was observed. Evidence
                                                found and has been observed in the following
                                                area(s) <strong>{{wdir.carefulVisualInspectionB}}</strong>
                                            </p>
                                        </label>
                                        <label>
                                            <input type="checkbox" />
                                            <span>C. Visible evidence of damage due to ___________________________ has
                                                been observed in the following area(s)
                                                ___________________________</span>
                                        </label>
                                        <label>

                                            <div style="display: flex; align-items: center;">
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>D. Treatment was or will be performed by inspection
                                                        company</span>
                                                </label>
                                                <div style="display: flex; align-items: center;">
                                                    <label>
                                                        <input type="checkbox" />
                                                        <span>NO</span>
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" />
                                                        <span>YES If yes. explain ___________________________</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </label>
                                        {{else}}
                                        {{#if (eq wdir.carefulVisualInspection "c")}}
                                        <label>
                                            <input type="checkbox" />
                                            <span>A. No visible evidence of wood destroying insects was observed.</span>
                                        </label>
                                        <label>
                                            <input type="checkbox" />
                                            <p>
                                                B. Visible evidence of wood destroying insects was observed. Evidence
                                                found and has been observed in the following
                                                area(s) ___________________________</strong>
                                            </p>
                                        </label>
                                        <label>
                                            <input type="checkbox" checked />
                                            <p>
                                                C. Visible evidence of damage due to
                                                <strong>{{wdir.carefulVisualInspectionC}}</strong> has
                                                been observed in the following area(s)
                                                <strong>{{wdir.carefulVisualInspectionC2}}</strong>
                                            </p>
                                        </label>
                                        <label>

                                            <div style="display: flex; align-items: center;">
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>D. Treatment was or will be performed by inspection
                                                        company</span>
                                                </label>
                                                <div style="display: flex; align-items: center;">
                                                    <label>
                                                        <input type="checkbox" />
                                                        <span>NO</span>
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" />
                                                        <span>YES If yes. explain ___________________________</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </label>
                                        {{else}}
                                        {{/if}}
                                        {{#if (eq wdir.carefulVisualInspection "d")}}
                                        <label>
                                            <input type="checkbox" />
                                            <span>A. No visible evidence of wood destroying insects was observed.</span>
                                        </label>
                                        <label>
                                            <input type="checkbox" />
                                            <p>
                                                B. Visible evidence of wood destroying insects was observed. Evidence
                                                found and has been observed in the following
                                                area(s) ___________________________</strong>
                                            </p>
                                        </label>
                                        <label>
                                            <input type="checkbox" />
                                            <p>
                                                C. Visible evidence of damage due to
                                                <strong>{{wdir.carefulVisualInspectionC}}</strong> has
                                                been observed in the following area(s)
                                                <strong>{{wdir.carefulVisualInspectionC2}}</strong>
                                            </p>
                                        </label>
                                        <label>

                                            <div style="display: flex; align-items: center;">
                                                <label>
                                                    <input type="checkbox" checked />
                                                    <p>D. Treatment was or will be performed by inspection
                                                        company</p>
                                                </label>
                                                <div style="display: flex; align-items: center;">
                                                    {{#if wdir.carefulVisualInspectionD}}
                                                    <label>
                                                        <input type="checkbox" />
                                                        <span>NO</span>
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" checked />
                                                        <span>YES If yes. explain
                                                            <strong>{{wdir.carefulVisualInspectionD}}</strong></span>
                                                    </label>
                                                    {{else}}
                                                    <label>
                                                        <input type="checkbox" />
                                                        <span>NO</span>
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" />
                                                        <span>YES If yes. explain ___________________________</span>
                                                    </label>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </label>
                                        {{else}}
                                        {{/if}}
                                        {{/if}}
                                        {{/if}}
                                        {{!--
                                        --}}

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    9. ADDITIONAL COMMENTS (If additional space is required, continue on reverse)
                                    <p><strong>{{wdir.additionalComments}}</strong></p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    10. All parties should be aware of certain conditions that increase the possibility
                                    of undetected
                                    live wood destroying insects. These conditions include
                                    wood to ground contact, slab below grade, vegetation or vines growing on exterior
                                    walls, bath traps
                                    without visual access and live wood destroying
                                    insects under or within 12 inches of the structure(s) inspected, and if found, shall
                                    be listed in
                                    Section 9
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <table class="bordered">
                        <tbody>
                            <tr>
                                <td colspan="3">
                                    <p>11. STATEMENT OF PEST CONTROL OPERATOR</p>
                                    <p>A. The inspection covered the readily visually accessible areas of the
                                        structure(s)
                                        only. Attention was given to those visually accessible areas which
                                        have been shown to be particularly susceptible to attack by wood destroying
                                        insects. Probing of
                                        visually infested and/or damaged wood members
                                        was performed.</p>
                                    <p>B. The inspection did not include areas which were obstructed or inaccessible at
                                        the time of
                                        inspection.</p>
                                    <p>C. This is not a structural damage report.</p>
                                    <p>D. Neither I nor the company for which I am acting have had, presently have, or
                                        contemplate
                                        having any interest in the structure(s) inspected. I do further state that
                                        neither I nor the
                                        company for which I am acting is associated in any way with any party to this
                                        transaction
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">


                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <p>ARBITRATION CLAUSE </p>
                                    <p>
                                        The Customer and the Company shall agree that any controversy or claim between
                                        them arising out
                                        of or relating to this agreement shall be settled
                                        exclusively and finally by arbitration. The arbitration shall be conducted in
                                        accordance with
                                        the Louisiana Binding Arbitration Law, La. Rev. Stat. 9:4201
                                        et seq. The arbitrator shall be a neutral third party mutually chosen by the
                                        Customer and the
                                        Company to hear their claims and render a decision. The
                                        decision of the arbitrator shall be a final and binding resolution of the
                                        disagreement, which
                                        may be entered and made enforceable by any court of
                                        competent jurisdiction. The parties hereto agree that neither party shall sue
                                        the other over
                                        anything contained in this agreement except for enforcement
                                        of the arbitrator's decision. In no event shall either party be liable to the
                                        other for
                                        indirect, special or consequential damages or loss of anticipated
                                        profits.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    12. SIGNATURE AND NUMBER OF INSPECTOR
                                    <img src="{{inspector.signature}}" width="80" height="80">
                                    <strong>{{inspector.licence_number}}</strong>
                                </td>
                                <td>12. DATE <strong>{{date inspection.date.started}}</strong> </td>
                            </tr>
                            <tr>
                                <td rowspan="2">
                                    <p>14. REPORT REQUESTED BY</p>
                                    <strong>{{inspection.client.name}}</strong>
                                </td>
                                <td colspan="2">15. REPORT RECEIVED BY</td>
                            </tr>
                            <tr>
                                <td>16. TITLE</td>
                                <td>17. DATE</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <strong>RECEIPT</strong>
                                    (Signatures below not the responsibility of inspecting company)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    I have received the original or a legible copy of the front and reverse
                                    sides of this form and I agree to the terms and conditions therein.
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">SIGNATURE OF OWNER/AGENT OF PROPERTY INSPECTED</td>
                                <td>DATE</td>
                            </tr>
                            <tr>
                                <td colspan="2">SIGNATURE OF PURCHASER OF PROPERTY INSPECTED</td>
                                <td>DATE</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section class="page">
                    <div class="header-spacer"></div>
                    <ol style="list-style-type: upper-roman;" class="bold">
                        <li>
                            <strong>GENERAL INFORMATION AND CONDITIONS GOVERNING THIS REPORT.</strong>
                            <ol>
                                <li>
                                    This report is based on observations and opinions of a qualified inspector. It must
                                    be noted that
                                    all
                                    buildings have structural members which are not visible or accessible for
                                    inspection. It is not
                                    always
                                    possible to determine the presence of infestation and/or damage without dismantling
                                    parts of the
                                    structure being inspected.
                                </li>
                                <li>
                                    All inspections are made for wood destroying insects only and not leaks, rot or any
                                    other structural
                                    problems. Wood destroying organisms, including but not limited to any type of mold,
                                    mildew or fungus
                                    and
                                    any conditions that cause these organisms, are not part of this report and will not
                                    be documented.
                                </li>
                                <li>
                                    In the event the inspector reports no evidence of termites or other wood destroying
                                    insects in any
                                    portion of the building inspected, the inspector does not assume any responsibility
                                    for a condition
                                    that
                                    might exist or may be starting and was not visible to the representative at the time
                                    of the
                                    inspection.
                                    This disclaimer is necessary due to the fact that the inspections have been made
                                    only on accessible
                                    areas of the building and the possibility of infestation and/or damage exists in
                                    areas that are
                                    inaccessible for inspection. Due to the biology and habits of termites and other
                                    wood destroying
                                    insects
                                    it is possible that infestation and/or damage may become visible at any time
                                    subsequent to the
                                    inspection.
                                </li>
                                <li>
                                    All inspections and reports will be made on the basis of what is visible and the
                                    qualified inspector
                                    will not render opinions covering areas that are enclosed or inaccessible areas of
                                    finished rooms,
                                    areas
                                    concealed by wall coverings, floor coverings, furniture, equipment, stored articles,
                                    attics or any
                                    portion of the structure in which inspection should necessitate tearing out or
                                    marring of finished
                                    work.
                                    The qualified inspector does not move furniture, appliances, equipment, carpet,
                                    tile, insulation,
                                    interior or exterior wall coverings, or wood under or within 12 inches of the
                                    structure(s) inspected
                                    (see definition for "wood" in Section ll).
                                </li>
                                <li>
                                    If any visible evidence of damage has been reported, the qualified inspector does
                                    not intend for
                                    this
                                    inspection to determine whether or not this damage should be replaced. A qualified
                                    individual should
                                    be
                                    consulted to ascertain the soundness of these damaged members of the building.
                                </li>
                                <li>
                                    This instrument shall carry a guarantee that the entire structure(s) will be treated
                                    to state
                                    minimum
                                    standards without charge should an infestation of live subterranean termites covered
                                    by this report
                                    be
                                    found in any readily accessible areas in or on the inspected structure(s) within 90
                                    days of the
                                    date of inspection as required by LAC Title 7, Part XXV, Chapter 1, Section 121 of
                                    the Structural
                                    Pest
                                    Control Regulations. A copy of the regulations governing completion of this report
                                    may be found at
                                    the
                                    Structural Pest Control Commission webpage:
                                    <a
                                        href="https://www.ldaf.state.la.us/consumers/structural-pest-control-programs/">https://www.ldaf.state.la.us/consumers/structural-pest-control-programs/</a>

                                </li>
                                <li>
                                    No arbitration, other cause for action, or claim for damages shall be filed by any
                                    party until an
                                    inspection of the property has been made by an inspector of the Louisiana Structural
                                    Pest Control
                                    Commission.
                                </li>
                            </ol>
                        </li>
                        <li>
                            <strong>TERMS AND DEFINITIONS</strong>
                            <ol>
                                <li>"Qualified Inspector" is a licensed or registered person who has been trained in
                                    wood destroying
                                    insect
                                    inspection
                                    procedures (being a Qualified
                                    Inspector does not indicate nor include the ability to detect damage beyond that
                                    which is visible to
                                    the
                                    human eye).</li>
                                <li> "Readily Accessible Area" areas that are unobstructed and that are able to be
                                    reached and entered
                                    for
                                    visible
                                    examination at the time of the
                                    inspection. Readily accessible areas do not include areas that are concealed by
                                    walls, ceilings,
                                    floor
                                    coverings,
                                    furniture, appliances, equipment, or
                                    stored articles; and crawl spaces and attics inaccessible due to openings too small
                                    to enter or
                                    without
                                    permanent
                                    ladders or staircases or due to
                                    undecked areas.</li>
                                <li>"Hidden Damage" is damage that cannot be seen without defacing a surface to reveal
                                    such damage.</li>
                                <li>"Visual Inspection" applies to an area that an individual can physically see.</li>
                                <li>"Defacing" is the removal of any surface to determine a condition that is not
                                    visible on the surface
                                    to
                                    the naked
                                    eye. (Since the qualified inspector is
                                    not an owner of the surface under inspection, no defacing will be done except with
                                    written
                                    instructions
                                    from the proper
                                    authority).</li>
                                <li>"Wood" is defined as, but not limited to, milled lumber, firewood, cross ties,
                                    landscape timbers,
                                    tree
                                    stumps or
                                    roots, but excludes bedding materials
                                    such as mulch, pine bark or pine straw.</li>
                                <li>
                                    "Evidence" includes, but is not limited to: live or dead wood destroying insects,
                                    wood destroying
                                    insect parts, shelter tubes, shelter tube stains, frass, exit holes or damaged wood
                                    due to wood
                                    destroying insects.
                                </li>
                            </ol>
                        </li>
                        <li>
                            <strong>
                                WOOD DESTROYING INSECTS INCLUDE: SUBTERRANEAN TERMITES, DRY-WOOD TERMITES, POWDER POST
                                BEETLES, OLD
                                HOUSE BORERS,CARPENTER ANTS, AND CARPENTER BEES.
                            </strong>

                        </li>
                        <li><strong>WARNING - COMMON OBSTRUCTIONS AND/OR INACCESSIBLE AREAS INCLUDE BUT ARE NOT LIMITED
                                TO:</strong>
                            <ol style="list-style-type: upper-alpha;">
                                <li>JOISTS HIDDEN (a) suspended ceiling (b) fixed_ceiling (c) insulation (d) floor over
                                    joists</li>
                                <li>WALL COVERINGS (a) paneling (b) dry wall (c) plaster (d) tile (e) cabinets (f)
                                    shelving (g)
                                    wallpaper
                                    (h) bath trap</li>
                                <li>FLOOR COVERINGS (a) tile (b) carpet (c) rugs (d) linoleum (e) built-ins</li>
                                <li>PERSONAL POSSESSIONS (a) stored material (b) boxes (c) pictures (d) clothing (e)
                                    furniture (f)
                                    appliances</li>
                                <li>ROOF RAFTERS HIDDEN (a) suspended ceiling (b) fixed ceiling (c) insulation</li>
                                <li>RAISED FLOORING (a) flooring elevated with sleepers beneath</li>
                                <li>EXTERIOR (a )dense shrubbery (b) siding (c) window well covers (d) planters</li>
                                <li>PORCH (a) no access or entry beneath floor surface (b) debris</li>
                                <li>ADDITIONAL ITEMS (a) standing water (b) debris (c) firewood (d) no access or entry
                                    (e) absence of
                                    safe
                                    or stable access to attic (f)
                                    leaking roof (g) faulty plumbing (h) earth-wood contact (i) wooden decks (j) hidden
                                    expansion joints
                                </li>
                            </ol>
                        </li>
                        <li>
                            <strong>ADDITIONAL COMMENTS CONTINUED.</strong>
                            <P>{{comments}}</P>
                        </li>

                    </ol>
                </section>
            </td>
        </tr>
    </tbody>
</table>